<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @drink.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drink.description %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Destroy', @drink, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', drinks_path %>
